.cls_feedback{
    background: url("../img/button.gif") no-repeat;
    position: fixed;
    right: 0;
    top: 225px;
    height: 87px;
    width: 26px;
}
.textbox{
    float: right;
    margin-right: 90px;
    width: 310px;
    border: solid 1px;
}
.textbox_error{
    float: right;
    margin-right: 90px;
    width: 310px;
    border: solid 1px #ff0000;
}
.dropdown{
    margin-left: 44px;
    font:normal 13px Arial;
}
.button{
    margin-left: 168px;
    margin-top: 20px;
    width: 105px;
    font: normal 15px oblique;
}
.errorlist{
    color: #ff0000;
    margin-left: 78px;
}